.navigation {
  @extend .flex-center;
  height: 64px;
  width: 100%;
  position: sticky;
  top: 0;
  overflow: hidden;
  padding: 0 24px;
  
  background-color: #ffffff;
  border: 1px solid #e8e8e8;
}



.flex-center {
  display: flex;
  flex-direction: row;
  align-items: center;
}
